@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";
.app-header {
  height: 60px;
  background: #336399;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.app-sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  background: #2f3740;
  top: 0;
  left: 0;
  padding-top: 75px;
}
.sidebar-menu {
  list-style: none;
  padding: 0;
  overflow-y: auto;
  max-height: 700px;
}

.search-bg {
  background-color: #353e48;
  border-radius: 2rem;
  border-color: #353e48;
}

.text-bg {
  color: #606a75;
  font-weight: 600;
  font-size: 13px;
}
.text-customer {
  color: #999da2;
  font-weight: 600;
  font-size: 13px;
}

.border-b {
  border-bottom: 1px solid #3a424d;
}

.mr-4 {
  margin-top: 4rem;
  margin-right: 4rem;
}

.rounded-button {
  width: 50px;
  height: 50px;
  background: #ff64a4;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  text-decoration: none;
}

.font-size {
  font-size: 13px;
  font-weight: 500;
  color: #959aa0;
}

.mt {
  margin-top: 3px;
}

.btn-grey {
  background-color: #f3f4f6;
  color: #66a7ff;
  background-image: url("../images/skip-icon.png");
  background-repeat: no-repeat;
  background-position: 55px;
  padding-right: 2rem;
  padding-left: 1rem;
}

.input-group span {
  color: #9599a0;
}
.bg-footer {
  background-color: #eef0f2;
}
.btn-footer {
  background-color: #66a7ff;
  color: #f7faff;
  font-size: 12px;
  font-weight: 500;
}

.btn-close-modal {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent url("../images/close-btn@3x.png") center/1em auto
    no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
}

.text-bg-fullname {
  color: #62a0f2;
  font-weight: 600;
  font-size: 13px;
}

.sidebar-menu-item {
  cursor: pointer;
}

.app-content {
  margin-left: 240px;
  margin-top: 85px;
  padding: 0 15px 10px 15px;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-bottom: 1px solid #f0f1f4 !important;
  border-width: 0;
}

.border-t {
  border-top: 1px solid #f0f1f4;
}

.table-header {
  color: #c4c9d2;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
}

.text-left {
  text-align: right;
}

li a {
  text-decoration: none;
}
.active {
  background: #404b57;
}

.row-border {
  border-bottom: 1px solid #f0f1f4 !important;
  border-width: 0;
}

.inv-text {
  color: #767e8e;
}

.btn-print {
  background-color: #fff;
  color: #83b8ff;
  background-image: url("../images/printer-blue.png");
  background-repeat: no-repeat;
  background-position: 75px;
  border: 1px solid #83b8ff;
  padding-right: 4rem;
  padding-left: 1rem;
}
.btn-print:hover {
  color: #83b8ff;
}

.btn-add {
  border: 1px solid #83b8ff;
  padding: 1rem;
  background: url("../images/enter-icon@3x.png") center/1em auto no-repeat;
}

.btn-remove {
  border: 1px solid #83b8ff;
  padding: 1rem;
  background: url("../images/close-btn@3x.png") center/1em auto no-repeat;
}

.btn-edit {
  padding: 1rem;
  background: url("../images/edit@3x.png") center/1em auto no-repeat;
}

.btn-invoice {
  padding: 1rem;
  background-image: url("../images/plus-white.png");
  background-repeat: no-repeat;
  background-position: center;
}

.input-search {
  background-image: url("../images/search-icon.png");
  background-repeat: no-repeat;
  background-position: 5px;
  padding-right: 4rem;
  padding-left: 1rem;
}
.input-search:placeholder-shown {
  padding-left: 2rem;
}
